crewai==0.28.3
crewai-tools==0.1.5
langchain==0.1.20
langchain-openai==0.1.7
openai==1.109.1
pydantic==2.12.5
pypdf==4.3.1
python-docx==1.2.0
selenium==4.21.0
streamlit==1.52.1
webdriver-manager==4.0.1
