beautifulsoup4==4.13.5
crewai==0.28.3
crewai-tools==0.1.5
langchain==0.1.20
langchain-cohere==0.1.5
langchain-community==0.0.38
langchain-core==0.1.53
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
openai==1.109.1
pydantic==2.12.5
pydantic_core==2.41.5
pypdf==4.3.1
python-docx==1.2.0
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
streamlit==1.52.1
types-requests==2.32.4.20250913
